# Ignore node_modules in both frontend and backend subfolders
backend/node_modules/
frontend/node_modules/
admin/node_modules/

# Ignore environment variables/secrets
backend/.env
frontend/.env
admin/.env
.env

# Ignore build/dist folders
frontend/dist/
frontend/build/
admin/dist/
admin/build/